{{- /* Comments area start - utteranc.es (GitHub Issues based) */ -}}
{{- if .Param "comments" }}
<div id="utteranc-comments" style="margin-top: 2rem;">
<!--  <script src="https://utteranc.es/client.js"
    repo="OCselected/ttoos"
    issue-term="pathname"
    label="blog-comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async>
  </script>
-->
<!-- support giscus -->
<script src="https://giscus.app/client.js"
               data-repo="OCselected/ocselected.github.io"
               data-repo-id="MDEwOlJlcG9zaXRvcnkxODU3NjE2NzY="
               data-category="Announcements"
               data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTU4MzA3"
               data-mapping="title"
               data-reactions-enabled="1"
               data-emit-metadata="1"
               data-input-position="top"
               data-theme="light"
               data-lang="zh-CN"
               crossorigin="anonymous"
               async>
   </script>  

  <noscript>
    <p style="color: #666; text-align: center; padding: 1rem;">
      请启用 JavaScript 来查看评论。<br>
      Comments are powered by <a href="https://utteranc.es/">utteranc.es</a> (GitHub Issues).
    </p>
  </noscript>
</div>
{{- end }}
{{- /* Comments area end */ -}}