{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ partial "subheader.html" . }}
{{ $baseurl := .Site.BaseURL }}

<section id="main">
  <h1 itemprop="name" id="title">{{ .Title }}</h1>
  <div>
        <article itemprop="articleBody" id="content">
          {{ .Description }}
        </article>
<!--
        <aside>
           {{ .TableOfContents }}
        </aside>
-->
        <section id="datecount">
          <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} |  {{ .FuzzyWordCount }} Words | 大约需要阅读 {{ .ReadingTime }} 分钟 |
          {{ range .Params.authors }}
            作者： {{ . }} 
          {{ end }}
          |  {{ range .Params.translater }}译者： {{ . }} {{ end }}
          <h4>
        </section>
        <article itemprop="articleBody" id="content">
           {{ .Content }}
        </article>
  </div>
</section>

{{ partial "meta_aside.html" . }}
{{ partial "footer.html" . }}
