        <ul id="mainnav">
            <li>
                <a href="posts/planing_and_reflection/2018/planning_and_schedule_of_year/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 文章 </span>
            </a>
            </li>
            <li>
            <a href="https://github.com/OCselected/ttoos">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 代码 </span>
            </a>
            </li>
            <li>
            <a href="/feed.xml">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> 订阅 </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> 我们 </span>
            </a>
            </li>
        </ul>
