        <ul id="mainnav">
            <li>
                <a href="/posts/ocselected-reading-guide/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 导航 </span>
            </a>
            </li>
            <li>
            <a href="/Community/communication/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 交流 </span>
            </a>
            </li>
            <li>
            <a href="/index.xml">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> 订阅 </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> 关于 </span>
            </a>
            </li>
        </ul>
