        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 文章 </span>
            </a>
            </li>
            <li>
            <a href="/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 代码 </span>
            </a>
            </li>
            <li>
            <a href="http://www.slideshare.net/johnwoolee">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> 胶片 </span>
            </a>
            </li>
            <li>
            <a href="http://lijiangsheng1.github.io/">
                <span class="icon"> <i aria-hidden="true" class="icon-13"></i></span>
                <span> 我 </span>
            </a>
            </li>
        </ul>
