        <ul id="social">
            <li id="share">
                <span class="icon icon-bubbles"> </span>
                <span class="title"> 分享本文</span>
            <div>
                <span class="subcount"></span>
            </div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_linkedin"></a>
        <a class="jiathis_button_douban"></a>
        <a class="jiathis_button_evernote"></a>
        <a class="jiathis_button_googleplus"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <!--<a class="jiathis_counter_style"></a>-->
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!--
            </li>
    <li id="follow">
        <span class="icon icon-rocket"> </span>
        <span class="title"> 订阅RSS </span>
         <div class="dropdown follow">
                    <li> <a href="http://www.ocselected.org/feed.xml" target="_blank" title="Subscribe by RSS" class="rss"><span class="icon icon-feed-2"></span>RSS</a> </li>
        </div>
    </li>
-->
    <li id="follow">
        <span class="icon icon-rocket"> </span>
        <span class="title"> 开源之道微信公众号 </span>
         <div class="dropdown follow">
         <li> <img src="/public/qrcode_for_gh_5628e0875dfd_258.jpeg" alt="qrcode" width="172px" height="172px"/>
          </li>
        </div>
    </li>
  </ul>
<!--                    <ul class="social">
                      <li> <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Follow me on Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Join me on Facebook" class="facebook"><span class="icon icon-facebook"></span>Facebook</a> </li>
                        <li> <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="googleplus"><span class="icon icon-google-plus"></span>Google+</a> </li>
                        <li> <a href="http://del.icio.us/post?url={{ .Permalink }}" target="_blank" title="Delicious" class="delicious"><span class="icon icon-delicious"></span>Delicious</a> </li>
                        <li> <a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="reddit"><span class="icon icon-reddit"></span>Reddit</a> </li>
                        <li> <a href="http://www.stumbleupon.com/submit?url={{ .Permalink }}" target="_blank" title="StumbleUpon" class="stumbleupon"><span class="icon icon-stumbleupon"></span>StumbleUpon</a> </li>
                    </ul>
                <div class="dropdown share">
                </div>
            </li>
            <li id="follow">
                <span class="icon icon-rocket"> </span>
                <span class="title"> 关注我 </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="http://www.ocselected.org/feed.xml" target="_blank" title="Subscribe by RSS" class="rss"><span class="icon icon-feed-2"></span>RSS</a> </li>
                        <li> <a href="http://www.twitter.com/lijiangsheng1" target="_blank" title="Follow me on Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="http://www.linkedin.com/in/stevefrancia" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                        <li> <a href="http://github.com/lijiangsheng1" target="_blank" title="GitHub" class="github"><span class="icon icon-github"></span>GitHub</a> </li>
                        <li> <a href="http://gplus.to/lijiangsheng1" target="_blank" title="Google+" class="googleplus"><span class="icon icon-google-plus"></span>Google+</a> </li>
                    </ul>
                    <span class="subcount">社交账号更好的互动</span>
                </div>
            </li>
        </ul>
-->
