<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "subheader.html" . }}

<section id="main">
  <div>
      <h1 id="title">{{.Site.Title}}</h1>
         {{ $paginate := (.Paginate (where .Data.Pages "Section" "!=" "page")) }}
           {{ if eq .Paginator.PageNumber 1 }}
             {{ range first 10 .Data.Pages }}
               {{ .Render "summary"}}
             {{ end }}
            {{ else }}
             {{ range first 9 .Paginator.Pages }}
               {{ .Render "summary"}}
             {{ end }}
           {{ end }}
         {{ partial "pagination.hbs" . }}
  </div>
</section>


<aside id="meta"> </aside>

{{ partial "footer.html" . }}
